<!doctype html>
<html lang="en" data-framework="backbonejs">
	<head>
		<meta charset="utf-8">
		<title>Backbone.js • TodoMVC</title>
		<link rel="stylesheet" href="bower_components/todomvc-common/base.css">
		<link rel="stylesheet" href="enjoyhint/jquery.enjoyhint.css">
	</head>
	<body>
		<section id="todoapp">
			<header id="header">
				<h1>todos</h1>
				<input id="new-todo" placeholder="What needs to be done?" autofocus>
			</header>
			<section id="main">
				<input id="toggle-all" type="checkbox">
				<label for="toggle-all">Mark all as complete</label>
				<ul id="todo-list"></ul>
			</section>
			<footer id="footer"></footer>
		</section>
		<footer id="info">
			<p>Double-click to edit a todo</p>
			<p>Written by <a href="https://github.com/addyosmani">Addy Osmani</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
		<script type="text/template" id="item-template">
			<div class="view">
				<input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
				<label><%- title %></label>
				<button class="destroy"></button>
			</div>
			<input class="edit" value="<%- title %>">
		</script>
		<script type="text/template" id="stats-template">
			<span id="todo-count"><strong><%= remaining %></strong> <%= remaining === 1 ? 'item' : 'items' %> left</span>
			<ul id="filters">
				<li>
					<a class="selected" href="#/">All</a>
				</li>
				<li>
					<a href="#/active">Active</a>
				</li>
				<li>
					<a href="#/completed">Completed</a>
				</li>
			</ul>
			<% if (completed) { %>
			<button id="clear-completed">Clear completed (<%= completed %>)</button>
			<% } %>
		</script>
		<script src="bower_components/todomvc-common/base.js"></script>
		<script src="bower_components/jquery/jquery.js"></script>
		<script src="bower_components/underscore/underscore.js"></script>
		<script src="bower_components/backbone/backbone.js"></script>
		<script src="bower_components/backbone.localStorage/backbone.localStorage.js"></script>
		<script src="js/models/todo.js"></script>
		<script src="js/collections/todos.js"></script>
		<script src="js/views/todo-view.js"></script>
		<script src="js/views/app-view.js"></script>
		<script src="js/routers/router.js"></script>
		<script src="js/app.js"></script>
		<script src="enjoyhint/enjoyhint.js"></script>
		<script src="enjoyhint/jquery.enjoyhint.js"></script>
		<script src="enjoyhint/kinetic.min.js"></script>
    <script>
      localStorage.clear();
      var enjoyhint_script_data = [
        {
          onBeforeStart: function(){
            $('#new-todo').keydown(function(e){
              if(e.keyCode == 13 && $(this).val() !== ''){
                enjoyhint_instance.trigger('new_todo');
              }
            });
          },
          selector:'#new-todo',
          event:'new_todo',
          event_type:'custom',
          description:'Enter task description and press Enter.',
        },
        {
          onBeforeStart: function(){
            $('#new-todo').keydown(function(e){
              if(e.keyCode == 13 && $(this).val() !== ''){
                enjoyhint_instance.trigger('new_todo');
              }
            });
          },
          selector:'#new-todo',
          event:'new_todo',
          event_type:'custom',
          description:'Enter the second task description and press Enter.',
        },
        {
          selector:'#todo-list .toggle:first',
          event:'click',
          description:'Set first task as completed',
          shape:'circle',
          timeout:100
        },
        {
          selector:'#filters li:nth-child(3) a',
          event:'click',
          description:'Select all completed tasks',
        },
        {
          selector:'#todo-list .view:first',
          event_selector:'#todo-list .destroy:first',
          event:'click',
          shape:'circle',
          description:'Remove this task',
          top:20,
          left:510,
          bottom:20,
          right:20
        },
        {
          selector:'#filters li:nth-child(1) a',
          event:'click',
          description:'Back to "All" tasks list',
        }
      ];
      var enjoyhint_instance = null;
      $(document).ready(function(){
        enjoyhint_instance = new EnjoyHint({});
        enjoyhint_instance.setScript(enjoyhint_script_data);
        enjoyhint_instance.runScript();
      });
    </script>
	</body>
</html>
